{% extends "esqueleto.html" %}

{% block content %}

<div class="container main">
    <div class="row pb-5 pt-5 mb-5 p-3 justify-content-center">
        <div class="col-12 pt-5 mt-5">
            <h1 class="text-center">Empieza a usar Squab</h1>
            <p class="text-center">Comparte tus mensajes con el resto de la comunidad</p>
        </div>
        <a href="{{ url_usr }}" class="btn btn-primary m-2"  >Iniciar Sesión</a>
    </div>
    <div class="row justify-content-center">
        <img class="logoGrande m-5" src="/static/img/logo_azul_squab.png">
    </div>

</div>

{% endblock %}